<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="https://unpkg.com/7.css@0.21.1/dist/7.css"> -->

        <title> NexusRanking</title>
    </head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <body>
        <header>
            <h1>NexusRanking-{% block title %} In-Titulado {% endblock %}</h1>

            <p>
                {% for item in datos.migas %}
                    {% with name=item.0 the_url=item.1 argumento=item.2 %}
                        {% if the_url %}
                            {% if argumento %}
                                <a href="{% url the_url argumento %}">{{ name }}</a> /
                            {% else %}
                                <a href="{% url the_url %}">{{ name }}</a> /
                            {% endif %}
                        {% else %}
                            <span>{{ name }}</span>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </p>
            <br>

            {% if user.is_authenticated %}
                <a href="{% url 'desLoguearse' %}"><button>CerrarSesion</button></a>
                <a href="{% url 'importarGames' %}"><button>Importar Juegos</button></a>
                <a href="{% url 'importarMods' %}"><button>Importar Mods</button></a>
            {% else %}
                <a href="{% url 'loguearse' %}"><button>IniciarSesion</button></a>
                <a href="{% url 'registrarse' %}"><button>Registrarse</button></a>
            {% endif %}
            <hr>
        </header>

        {% block content %}
        {% endblock %}

    </body>
</html>