{% extends 'base.html' %}

{% block title %} Administracion {% endblock %}

{% block content %}

    <div class="container mt-4">
        <div class="row">
            <div class="col text-center">

                <h2>Panel de Administración</h2>
                <p>Gestiona los mods y usuarios de Nexus Ranking.</p>

                <a href="{% url 'listarGames' %}" class="nbtn">Lista de Juegos</a>
                <a href="{% url 'importarGames' %}" class="nbtn">Importar Juegos</a>
                <a href="{% url 'importarMods' %}" class="nbtn">Importar Mods</a>
                <a href="{% url 'listarUsuarios' %}" class="nbtn">Lista Usuarios</a>
                <a href="/admin" class="nbtn">Admin DJango</a>

            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <br>
                <h2>Estadisticas</h2>
                <p>Informacion sobre los juegos, mods y usuarios de Nexus Ranking.</p>
    
                <table class="tabla">
                    <thead>
                        <tr>
                            <th class="px-2">Juego</th>
                            <th class="px-2">Cantidad de Mods</th>
                            <th class="px-2">Cantidad de Puntuaciones</th>
                            <th class="px-2">Cantidad de Rankings</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in datos.estadisticas %}
                            <tr>
                                <th class="px-2">{{ item.juego.name }} </th>
                                <td class="px-2">{{ item.cantidadMods }} </td>
                                <td class="px-2">{{ item.cantidadPuntuaciones }} </td>
                                <td class="px-2">{{ item.cantidadRankings }} </td>
                            </tr>
                        {% empty %}
                            <p>Sin Juegos</p>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}