{% extends 'base.html' %}

{% block title %} Estadisticas de {{ datos.modName }} {% endblock %}

{% block content %}

    <h2 class="my-3">{{ datos.modName }}</h2>

    <div class="container">
        
        <div class="row">
            <div class="col-md-5">
                
                <table class="tabla">
                    <tbody>
                        {% comment %} Se asume que datos.numJogo es un diccionario: {posicion: valor} {% endcomment %}

                        {% if datos.numJogo %}

                            {% if datos.numJogo.items %}
                                {% for k, v in datos.numJogo.items %}
                                    <tr>
                                        <td>Posicionado {{ k }}</td>
                                        <td>{{ v }}</td>
                                    </tr>
                                {% endfor %}

                            {% else %}
                                {# Si no es dict, iteramos como lista de pares (tuplas) #}
                                {% for pair in datos.numJogo %}
                                    <tr>
                                        <td>Posicionado {{ pair.0 }}</td>
                                        <td>{{ pair.1 }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}

                        {% else %}
                            <tr>
                                <td colspan="2">No hay datos disponibles</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

            </div>

            <div class="col-md-5">

                <table class="tabla">
                    <tbody>
                        <tr>
                            <td>Puntuaciones de 1</td>
                            <td>{{ datos.numMod.score1 }}</td>
                        </tr>
                        <tr>
                            <td>Puntuaciones de 2</td>
                            <td>{{ datos.numMod.score2 }}</td>
                        </tr>
                        <tr>
                            <td>Puntuaciones de 3</td>
                            <td>{{ datos.numMod.score3 }}</td>
                        </tr>
                        <tr>
                            <td>Puntuaciones de 4</td>
                            <td>{{ datos.numMod.score4 }}</td>
                        </tr>
                        <tr>
                            <td>Puntuaciones de 5</td>
                            <td>{{ datos.numMod.score5 }}</td>
                        </tr>
                        <tr>
                            <td>Puntuaciones de Media</td>
                            <td>{{ datos.numMod.media }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}