{% extends 'base.html' %}

{% block title %} Importar-Json {% endblock %}

{% block content %}

    <h3 class="my-3">Importar {{ datos.tipo }}</h3>

    <form id="js_form" method="post" enctype="multipart/form-data" class="formulario">
        {% csrf_token %}

        <div>
            <label for="js_file">Seleccionar archivo Json</label> <br>

            <input type="file" id="js_file" name="js_file" accept=".js" required class="nbtn">
        </div>

        <div>
            <button type="submit" class="nbtn-pri">Guardar</button>
        </div>
    </form>

{% endblock %}