{% extends 'base.html' %}

{% block title %} Importar-Json {% endblock %}

{% block content %}

    <h3>Cosa</h3>

    <form id="js_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            <label for="js_file">Seleccionar archivo Json del </label> <br>
            <input type="file" id="js_file" name="js_file" accept=".js" required>
        </div>

        <div>
            <button type="button" id="previewBtn">Previsualizar</button>
            <button type="submit">Guardar</button>
        </div>
    </form>

{% endblock %}