{% extends 'base.html' %}

{% block title %}Lista Mods{% endblock %}

{% block content %}
    <table class="table table-primary">
    <thead>
        <tr>
            <th class="px-2">Juego</th>
            <th class="px-2">Mods</th>
            <th class="px-2">Enlace</th>
        </tr>
    </thead>
    <tbody>
        {% for game in datos %}
            <tr>
                <th class="px-2">{{ game.name }} </th>
                <th class="px-2">{{ game.mods }} </th>
                <th class="px-2"><a href="{{ game.nexusmods_url }}">sitio</a></th>
            </tr>
        {% empty %}
          <p>No hay juegos.</p>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}