{% extends 'base.html' %}

{% block title %}{{ datos.tipo }}{% endblock %}

{% block content %}
    <table class=""> <!-- table table-primary -->
    <thead>
        <tr>
            <th class="px-2">{{ datos.tipo }}</th>
            <th class="px-2">Mods</th>
            <th class="px-2">Ir Mods</th>
            <th class="px-2">Enlace</th>
        </tr>
    </thead>
    <tbody>
        {% for cosa in datos.items %}
            <tr>
                <th class="px-2">{{ cosa.name }} </th>
                <th class="px-2">{{ cosa.mods }} </th>
                <th class="px-2"><a href="{% url 'listarMods' cosa.game_id %}"><button>Ir a {{ cosa.name }}</button></a></th>
                <th class="px-2"><a href="{{ cosa.nexusmods_url }}">sitio</a></th>
            </tr>
        {% empty %}
          <p>No hay {{ datos.tipo }}.</p>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}